.tweetframe {
	margin: 0;
	padding: 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #3c3d3d;
}

.tweetframe a {
	color: #3b82f6;
	text-decoration: none;
}

.tweetframe_userbar {
	border-bottom: 1px solid #bbb;
	background-color: #f1f5fd;
}

.tf_profile_pic {
	float: left;
	margin: 10px;
	margin-bottom: 5px;
}

img.tf_profile_image {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
}


.tf_username {
	font-size: 2em;
	line-height: 2em;
}

.tf_username a {
	text-decoration: none;
	color: inherit;
}

.tf_username a:hover {
	text-decoration: underline;
	color: #3b82f6;
}

.tf_bio {
	clear: both;
	margin: 10px;
}

ul.tf_twitter_stats {
	clear: both;
	position: relative;
	list-style: none;
	text-align: center;
	padding: 0 8px;
	font-size: smaller;
}

li.tf_stat {
	float: left;
	padding: 5px;
	margin: 5px 2px;
	width: 50px;
	background-color: #e0ebfc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

li.tf_stat .tf_stat_title {
	font-weight: bold;
}

.tweetframe_tweet {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
	
}



.tf_tweet_detail {
	font-size: 10px;
}

.tf_tweet_detail a {
	color: inherit;
	text-decoration: none;
}

.tf_tweet_detail a:hover {
	color: #3b82f6;
}

.tweetframe_stream {
	color: #454545;
}

.tweetframe_tweet:first-child {
	font-size: 14px;
	box-shadow: 0px -2px 8px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -2px 48x rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px -2px 8px rgba(0,0,0,0.1);
}
