#testBox {
			border: 1px solid black;
			width: 400px;
			margin: 0 auto;
		}

.tweetframe {
	margin: 0;
	padding: 10px;
}

.tweetframe_userbar {
	
}

.tweetframe_tweet {
	
}

.tweetframe_stream {
	
}